.DS_STORE
.history

migrations/4_deploy_internalTestContracts.js
scripts/startAuctionTruffleScript.js
scripts/listOfTOP150TokensByMarketCap.txt
test/*
travscripts/*
.gitattributes
.solcover.js
.travis.yml
*.pyc
yarn-error.log

records.json
stats.json
.awcache
.eslintcache
.stylelintcache